body {
  background-color: #13181a;
}

#app {
  padding: 40px;
}

.main {
  display: flex;
}

nav {
  display: flex;
  align-items: center;
  padding: 20px 40px;
  background-color: #23292b;
}

.divide {
  margin-left: 15px;
  margin-right: 15px;
  border-right: 1px solid #ffffff;
  height: 25px;
}

#three-canvas {
  padding: 20px 40px;
}
